@using FIT_IoT.Core.Helper
@using FIT_IoT.Server.Web.EF.EntityModel
@model FIT_IoT.Server.Web.Areas.WebArea.ViewModels.StanjeIndexVM

@{
    ViewBag.Title = "title";
}

<h2>Pregled komandi</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Datum evidentiranja</th>
            <th>Vrsta komande</th>
            <th>Jel izvrsena?</th>
            <th>Preuzeta komanda
                <br/>
                <label>Proteklo vrijeme: </label>
            </th>
            <th>Izvršena komanda
                <br/>
                <label>Proteklo vrijeme: </label>
            </th>
            <th>Greška</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
    @foreach (Komanda x in Model.Rows)
    {
        <tr>
            <td>@x.Id</td>
            <td>
                @x.DatumEvidentiranja.ToString("yyyy-MM-dd") <strong>  @x.DatumEvidentiranja.ToString("HH:mm:ss")</strong>
                    </td>
            <td>@x.VrstaKomande.MyDescription()</td>
            <td>@x.JelIzvrsena</td>
            <td>
                @if (x.DatumPreuzimanja.HasValue)
                {
                    @x.DatumPreuzimanja.Value.ToString("yyyy-MM-dd")  <strong> @x.DatumPreuzimanja.Value.ToString("HH:mm:ss")</strong><br/>
                    @((x.DatumPreuzimanja.Value - x.DatumPreuzimanja))
                }
            </td>
            <td>
                @if (x.DatumIzvrsenja.HasValue)
                {
                    @x.DatumIzvrsenja.Value.ToString("yyyy-MM-dd")  <strong> @x.DatumIzvrsenja.Value.ToString("HH:mm:ss")</strong><br/>
                    @((x.DatumIzvrsenja.Value - x.DatumEvidentiranja))
                }
            </td>
            <td>
                @x.GreskaOpis
            </td>
            <td>
                @if (!x.JelPreuzeta)
                {
                    <a href="@Url.Action("Obrisi", new {KomandaId = @x.Id})" class="btn btn-warning">Obriši</a>   
                }
            </td>
        </tr>
    }
    </tbody>
</table>