@model WebApplication1.MojContext

@{
    ViewBag.Title = "title";
}

<h2>title</h2>
<table>
    <thead>
    <tr>
        
    </tr>
    </thead>
    <tbody>
    @foreach (var x in Model.komanda)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.DatumEvidentiranja</td>
            <td>@x.VrstaKomande</td>
            <td>@x.JelIzvrsena</td>
            <td>@x.DatumIzvrsenja</td>
            <td>
                <a href="/Komanda/Obrisi?KomandaId=@x.Id" class="btn btn-warning">Obris</a>
            </td>
        </tr>
    }
    </tbody>
</table>